.App {
  text-align: center;
  background-color: lightblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product_img{
  object-fit: contain;
  width: 100%;
  height: 200px;
}
/* MyComponent.module.css */
.container-fluid {
  background-color: lightblue;
  padding: 20px;
  border-radius: 8px;
}
.product_img:hover{
  transform: scale(1.3);
  transition: transform 3s;
}
.product_img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product_img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.footer-container {
  background-color: #17a2b8;
  color: white;
  padding: 20px;
}

.footer-container h2,
.footer-container h4 {
  color: #343a40;
}

.footer-container p {
  color: #343a40;
}

.footer-container .nav-link {
  color: white;
  margin-bottom: 10px;
}

.footer-container .nav-link:hover {
  color: #ffc107;
}

.footer-container .form-control {
  margin-bottom: 10px;
}

.footer-container .btn-outline-danger {
  width: 100%;
}

.footer-container img {
  width: 30px;
  margin-right: 10px;
}

.footer-container footer {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 10px;
}


